/* colors */
$bg-primary-color: #d1411e;
$bg-dark: #333;
$bg-accent: teal;
$text-primary-color: whitesmoke;
$text-primary-dark: #555;
$text-primary-neutral: gray;
$text-accent: goldenrod;
$success: green;
$danger: crimson;

/* sizes */
$nav-height: 100px;
