@import './variables';
@import './responsive';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(100vh - $nav-height);

  @include mobile {
    height: 100%;
  }
}

.imgContainer {
  width: 100%;
  height: 100%;
  position: relative;
  @include mobile {
    display: none;
  }

  img {
    object-fit: cover;
  }
}

.textContainer {
  display: flex;
  @include mobile {
    flex-direction: column;
    width: 100vw;
    text-align: center;
  }
  gap: 2em;
  padding: 2em;
  background-color: $bg-dark;
  color: $text-primary-color;
  font-size: 1.2rem;

  span {
    font-size: 2rem;
    max-width: 20ch;
    font-weight: 500;
    text-transform: uppercase;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  h3 {
    color: $text-accent;
  }
}
