@import './responsive';
@import './variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  .addProduct {
    margin-top: 2em;
    align-self: center;
    padding: 1em 2em;
    font-size: 1.2rem;
    background-color: $bg-primary-color;
    color: $text-primary-color;
    border-radius: 10px;
    border: 0;
  }
}

.article {
  margin: 1em auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  @include mobile {
    padding: 0 2em;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    max-width: 60ch;
    @include mobile {
      max-width: 40ch;
    }
    line-height: 2;
  }
}
