@import './responsive';

.container {
  padding: 4em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
  }
}

.wrapper {
  display: flex;
  align-items: baseline;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  gap: 2em;

  &.center {
    justify-content: space-evenly;
  }

  p {
    font-size: 1.2rem;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    p {
      text-align: right;
    }
  }

  h2 {
    text-transform: capitalize;
  }
}

.infoGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  @include mobile {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .address {
    text-align: center;
  }
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include mobile {
    margin: 1em 0;
  }
}

.done {
  opacity: 1;
  .checkedIcon {
    visibility: visible;
  }
}

.progress {
  animation: progress 1s ease infinite alternate;
}

@keyframes progress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.incomplete,
.progress {
  opacity: 0.3;
  .checkedIcon {
    visibility: hidden;
  }
}
