@import './variables';
@import './responsive';

.summary {
  padding: 2em;
  background-color: $bg-dark;
  color: $text-primary-color;
  display: flex;
  flex-direction: column;
  @include mobile {
    align-items: center;
  }
  gap: 2em;

  @include mobile {
    h3,
    p {
      font-size: 1.5rem;
    }
  }

  h1 {
    font-size: 2rem;
  }

  .wrapper {
    line-height: 2;
  }

  .group {
    display: flex;
    align-items: center;
    gap: 1em;

    @include mobile {
      justify-content: space-between;
    }
  }

  .checkout {
    color: $bg-primary-color;
    font-weight: 700;
    padding: 1em;
    align-self: flex-start;

    @include mobile {
      font-size: 1.2rem;
    }
  }

  .paid {
    color: $success;
    background-color: $text-primary-color;
    text-align: center;
    font-size: 1.2rem;
    padding: 1em;

    @include mobile {
      width: 80%;
    }
  }

  .payMethods {
    display: none;
    flex-direction: column;
    gap: 1em;

    .cashOnDelivery {
      color: $success;
      font-weight: 700;
      padding: 1em;
      width: 100%;
      margin-bottom: 2em;
    }
  }

  .thank {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
